div[id]{
    color: red;
}
div[class="myclass mysuperclass"]{
    text-decoration: underline;
}
div[id][class="myclass"]{
    border: 2px dashed #000;
}

div[id][class~="myclass"]{
    background:yellow;
}